extends layout

block content
  h1 Favoritos

  each favorito in favoritos
    .favorito
      img(src=`/ruta/a/imagenes/${favorito}.jpg`, alt=`Cerveza ${favorito}`)
      h2 Cerveza ${favorito}

  p No hay favoritos disponibles.
