@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Fira Sans, sans-serif, Font-awesome;
}

img {
    width: 100%;
    border-radius: 0;
}

/* header {
    width: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    position: sticky;
    top: 0;
    font-family: Font-awesome;
    z-index: 999;

} */

.logo {
    width: 125px;
    margin-left: 15px;
}

header {
    width: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    position: sticky;
    top: 0;
    font-family: Font-awesome;
    z-index: 3;
}

.logo,
nav ul li a,
label {
    color: white;


}

label {
    display: none;

}

nav ul {
    display: flex;
    gap: 1rem;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    justify-content: center;
}

/* menú desplegable */
#menu:checked~nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #121212;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

#menu:checked~nav ul li {
    padding: 10px;
}

#menu:checked~nav ul li a {
    color: white;
}

/* anvorguesa */
label[for="menu"] {
    display: block;
    cursor: pointer;
    font-size: 24px;
    margin-right: 15px;
}

/* Estilos desplegable */
nav {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* desplegable */
#menu:checked~nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #121212;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

#menu:checked~nav ul li {
    padding: 10px;
}

#menu:checked~nav ul li a {
    color: white;
}

h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: white;
    font: 1.5rem "Fira Sans", sans-serif;
}

body {
    background-color: #444;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 15px 15px;

}

section {
    background-color: transparent gradient;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 15px;

}

article {
    background-color: #222;
    padding: 15px;
    width: 100%;
    color: rgb(241, 204, 135);
    border-radius: 10px;


}

p {
    color: wheat;
    font-size: 1rem;
}

button {
    background: transparent;
    cursor: pointer;
    border: 2px solid;
    border-color: wheat;
    border-radius: 5px;
    padding: 5px 10px;
    color: wheat;
    font-size: 18px;
    position: relative;
    margin-top: 15px;
    z-index: 1;
}



button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, brown, rgb(200, 157, 14), rgb(77, 56, 0), orange, rgb(253, 246, 42), rgb(254, 178, 0));
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


@media only screen and (min-width: 650px) {


    article {

        width: calc(50% - 15px);
        margin-top: 15px;

    }

}


@media only screen and (min-width: 1040px) {


    article {

        width: calc(33.35% - 15px);

    }

}

@media only screen and (min-width: 1400px) {

    article {

        width: calc(25.2% - 15px);

    }

}

@media only screen and (min-width: 1900px) {

    article {

        width: calc(25% - 15px);

    }

}